html {
	margin: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(-90deg, #327aed, #d2e0f7);
	z-index: 0;
}

.leftside {
	display: inline-block;
	height: 100%;
	width: 20%;
	margin: 0px;
	border-right: 3px solid #000;
	position: relative;
	z-index: 4;
	float: left;
}

.selectionside {
	height: 90%;
	width: 100%;
	bottom: 0;
	z-index: 5;
}

.topside {
	width: 100%;
	height: 10%;
	top: 0;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	z-index: 3;
	float: right;
}

.logo {
	height: 50px;
	width: 100px;
	background: url("../img/logo.png") no-repeat;
	background-size: 100%;
	margin-left: 30px;
	float: left;
}

.text {
	height: 0px;
	width: 300px;
	font-family: Cambria,Georgia,serif;
	font-size: 30px;
	float: right;
	margin-top: 10px;
}

#allOutletsButton {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: Cambria,Georgia,serif;
	font-size: 20px;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	background-color: #999999;
	cursor: pointer;
}

#allOutletsButton:hover {
	color: #ff0000;
}

#pendingOutletsButton {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: Cambria,Georgia,serif;
	font-size: 20px;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	cursor: pointer;
}

#pendingOutletsButton:hover {
	color: #ff0000;
}

#badOutletsButton {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: Cambria,Georgia,serif;
	font-size: 20px;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	cursor: pointer;
}

#badOutletsButton:hover {
	color: #ff0000;
}

#list {
	width: 80%;
	height: 90%;
	margin-top: 7px;
	margin-left: 276px;
	float: right;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}

.filtersection {
	width: 100%;
	height: 40px;
	border-right: 2px solid rgba(0,0,0,0.5);
	border-bottom: 2px solid rgba(0,0,0,0.5);
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	padding: 1px;
	position: relative;
	top: 7px;
	margin-top: 59px;
	margin-left: 276px;
}

.filtericon {
	background: url("../img/filter.png") no-repeat;
	background-size: 100%;
	height: 25px;
	width: 25px;
	padding: 5px;
	position: absolute;
	z-index: 10;
	left: 5px;
	bottom: 3px;
	cursor: pointer;
}

.filtertext {
	width: 40px;
	height: 25px;
	padding: 5px;
	font-family: Cambria,Georgia,serif;
	font-size: 15px;
	position: absolute;
	left: 40px;
	top: 5px;
}

#outletcomponent {
	width: 100%;
	height: 60px;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	position: relative;
	z-index: 8;
}

.basicoutlet {
	height: 60px;
	width: 60px;
	background: url("../img/basicoutlet.png") no-repeat;
	background-size: 100%;
	position: absolute;
	z-index: 10;
	cursor: pointer;
}

.latitudetext {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	position: absolute;
	left: 100px;
	top: 10px;
	z-index: 10;
}

.longitudetext {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	position: absolute;
	left: 100px;
	top: 35px;
	z-index: 10;
}

.latitude {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	position: absolute;
	left: 230px;
	top: 10px;
	z-index: 10;
}

.longitude {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	position: absolute;
	left: 230px;
	top: 35px;
	z-index: 10;
}

.name {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 18px;
	position: absolute;
	left: 350px;
	top: 20px;
	z-index: 10;
}

.adresstext {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 18px;
	position: absolute;
	left: 600px;
	top: 20px;
	z-index: 10;
}

.adress {
	height: auto;
	width: auto;
	font-family: Cambria,Georgia,serif;
	font-size: 16px;
	position: absolute;
	left: 660px;
	top: 21px;
	z-index: 10;
}


.editbutton {
	width: 60px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	z-index: 10;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 18px;
	border: 4px solid #000;
	color: white;
	top: 15px;
	right: 50px;
	text-align: center;
	cursor: pointer;
}


::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #b8d3ff;
}

::-webkit-scrollbar-thumb {
	background: #00ff1e;
}

::-webkit-scrollbar-thumb:hover {
	background: #172c4f;
}